@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    padding-top: 10px;
    align-items: center;
    /* background: linear-gradient(45deg, #e0b7b7, #c1e9c4, #d8b4dd); */
    background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
        font-family: 'Comic Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#game-cont {
    height: clamp(300px, 340px, 600px);
    width: clamp(300px, 340px, 600px);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    flex-direction: column;
    position: relative;
    /* padding: 10px; */
    overflow: hidden;
    /* box-sizing: border-box; */
}

#chat-box {
    width: 99%;
    height: 50%;
    background-color: #fff;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    position: absolute;
    padding: 20px;
    /* border: 1px solid #000; */
    /* display: none; */
    box-shadow: 0px 2px 5px #bbb;
    bottom: -100%;
    transition: bottom 0.2s;
}
#chat-box span {
    /* font-size: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #666;
    font-size: 35px;
    font-variant: small-caps;
}
#chat-messages {
    padding-left: 5px;
    height: 100%;
    overflow-x: ellipsis;
    overflow-y: auto;
    /* border: 1px solid #000; */
}

.message {
    list-style: "none";
    padding-left: 5px !important;
    font-size: 30px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #666;
    font-variant: small-caps !important;
}

#util {
    display: flex;
    width: clamp(300px, 400px, 600px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid #000; */
}

#game-board {
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* min-width: 330px;
    min-height: 330px; */
    height: 100%;
    width: 100%;
    /* border-bottom: 1px dashed #777; */
    background-color: #999;
    
    gap: 3px;
    position: absolute;
    /* padding: 20px; */
    border-radius: 5px;
    overflow: hidden;
    filter: blur(0px) opacity(1);
    /* box-shadow: 0px 2px #bbb; */
    /* background-color: rgb(148, 150, 138); */
    /* background: linear-gradient(45deg, #583c3c, #fabdbd, #405764); */
}

.cell {

    /* box-sizing: border-box; */
    font-size: clamp(20px, 35px, 40px);
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    color: #ffdcdc;
    /* text-shadow: 2px 3px 4px #555; */
    position: relative;
    user-select: none;
    /* border-radius: 5px; */
}

#circle {
    box-sizing: border-box;
    height: 85%;
    width: 85%;
    border: 5px solid #777;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
}


#reset-btn {
    width: 40px;
    height: 40px;
    display: inline;
    font-size: 30px;
    /* border: 3px solid #777; */
    border: none;
    background-color: white;
    color: #777;
    /* display: none; */
    border-radius: 25px;
}

#win-status, #name {
    /* height: 40px; */
    font-size: 40px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: 700; */
    color: #666;
    display: none;
    background-color: white;
    padding: 5px 15px;
    border-radius: 55px;

}
#name {
    display: flex;
    align-items: center;
    color: #444;
}


#chat-btn-cont {
    display: flex;
    background-color: white;
    
    width: 60%;
    height: 40px;
    /* padding: 5px 15px; */
    border-radius: 55px;
    overflow: hidden;
    /* gap: 10px; */
}
#chat-btn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    color: #444;
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    border: none;
}
#chat-inp {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding-right: 15px;
    background-color: white;
}

#cross {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    position: absolute;
}