@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
    padding-top: 10px;
    align-items: center;
    /* background: linear-gradient(45deg, #e0b7b7, #c0f5e4); */
    background: #4e6d81;
}


#game-cont {
    height: clamp(300px, 340px, 600px);
    width: clamp(300px, 340px, 600px);
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    flex-direction: column;
    position: relative;
    /* padding: 10px; */
    overflow: hidden;
    /* box-sizing: border-box; */
}

#chat-box {
    width: 96%;
    height: 70%;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    padding: 10px 20px 30px 20px;
    /* border: 1px dashed #000; */
    /* display: none; */
    box-shadow: 0px 2px 5px #999;
    bottom: -500%;
    /* bottom: 0%; */
    transition: bottom 0.2s;
}

#chat-box #chat-title {
    /* font-size: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #4e6d81;
    font-size: 25px;
    font-variant: small-caps;
}

#chat-messages {
    padding-left: 5px;
    height: 85%;
    /* overflow-x: ellipsis; */
    overflow-y: auto;
    /* border: 1px solid #000; */
}

.message {
    height: auto;
    list-style: "none";
    padding-left: 5px !important;
    font-size: 25px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #4e6d81;
    font-variant: small-caps !important;
    overflow-wrap: break-all;
}

#util {
    display: flex;
    width: clamp(300px, 400px, 600px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid #000; */
}

#game-board {
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* min-width: 330px;
    min-height: 330px; */
    height: 100%;
    width: 100%;
    /* border-bottom: 1px dashed #4e6d81; */
    /* background-color: #999; */

    gap: 3px;
    position: absolute;
    /* padding: 20px; */
    border-radius: 5px;
    overflow: hidden;
    filter: blur(0px) opacity(1);
    /* box-shadow: 0px 2px #bbb; */
    /* background-color: rgb(148, 150, 138); */
    /* background: linear-gradient(45deg, #583c3c, #fabdbd, #405764); */
}
#game-board::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000034;
    display: none;
}

.cell {

    /* box-sizing: border-box; */
    font-size: clamp(20px, 35px, 40px);
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    /* color: #ffdcdc; */
    /* text-shadow: 2px 3px 4px #4e6d81; */
    position: relative;
    user-select: none;
    /* border-radius: 5px; */
        box-shadow: 0px 2px 3px  #8b8b8b;

}

#circle {
    box-sizing: border-box;
    height: 45%;
    width: 45%;
    /* border: 5px solid ; */
    border-radius: 50%;
    background-color: #4e6d81;
    position: absolute;
}


#reset-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 30px; */
    /* border: 3px solid #4e6d81; */
    border: none;
    background-color: white;
    color: #4e6d81;
    /* display: none; */
    border-radius: 25px;
}

#win-status {
    /* height: 40px; */
    font-size: 40px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: 700; */
    color: #4e6d81;
    /* display: none; */
    padding: 5px 15px;
    position: absolute;
    top: -100%;
    background-color: white;
    border-radius: 55px;
    box-shadow: 0px 2px 3px #999;
    transition: top 0.2s;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 15px;
    border-radius: 55px;
    background-color: white;
    color: #4e6d81;
    font-weight: 700;
}
#name {
    outline: none;
}
#turn {
    font-size: 30px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding-left: 10px; */
    display: none;
    font-weight: 700;
    color: white;
}

#chat-btn-cont {
    display: flex;
    background-color: white;

    width: 60%;
    height: 40px;
    /* padding: 5px 15px; */
    border-radius: 55px;
    overflow: hidden;
    /* gap: 10px; */
}

#chat-btn {

    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    color: #444;
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    border: none;
}

#chat-inp {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding-right: 15px;
    background-color: white;
}

#chat-inp::placeholder {
    color: #4e6d81;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    /* font-size: 20px; */
}

#cross {
    box-sizing: border-box;
    height: 80%;
    width: 80%;
    position: absolute;
}

#install-b {
    height: 40px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: #4e6d81;
    background-color: white;
    border: none;
    border-radius: 55px;
    display: none;
    cursor: pointer;
}