@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    user-select: none;
}

#game-cont {
height: 400px;
width: 400px;
min-width: 330px;
min-height: 330px;
max-width: 400px;
max-height: 400px;
display: flex;
justify-content: center;
align-items: center;
/* gap: 10px; */
flex-direction: column;
position: relative;
/* box-sizing: border-box; */
}

#game-board {
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* min-width: 330px;
    min-height: 330px; */
    height: 100%;
    width: 100%;
    /* outline: 3px so lightgrey; */
    background-color: transparent;
    gap: 2px;
    position: absolute;
    background-color: lightgrey;
    /* background: linear-gradient(45deg, #583c3c, #fabdbd, #405764); */
}

.cell {

    /* box-sizing: border-box; */
    font-size: 40px;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    /* text-shadow: 2px 3px 4px #555; */
    position: relative;
    user-select: none;
    /* border-radius: px; */
}

#circle {
    box-sizing: border-box;
    height: 90%;
    width: 90%;
    border: 5px solid #bebebe;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
}

/* .cell:hover {
    background-color: whitesmoke;
} */

h1 {
    /* position: absolute; */
    /* width: 100%; */
    /* height: 50px; */
    color: #666;
    font-family: 'Comic Neue', 'Comic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

#reset-btn {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    display: inline;
    font-size: 40px;
    border: 3px solid lightgrey;
    border: none;
    color: rgb(90, 90, 90);
    font-family: 'Comic Neue' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
    /* border-radius: 10px; */
}

#reset-btn:hover {
    /* translate: 10px 10px; */
    background-color: #dfdfdf;
    text-shadow: 0 0 15px white;
    
    border-radius: 50px;
    /* text-shadow: 0 2px 2px black; */
}
#win-status {
    /* display: none; */
    /* position: absolute; */
    border: 1px solid #000;
    z-index: 9;
}

#instruction {
    color: transparent;
}


